<div class="container p-3">
  <div class="row">
    <%= render 'public/end_users/index', end_user: @end_user %>
  </div>
  <div class="row my-3">
    <%= render 'public/post_images/index', post_images: @post_images %>
  </div>
</div>