<% if post_image.favorited_by?(current_end_user) %>
  <p>
    <%= link_to post_image_favorites_path(post_image), method: :delete, remote: true do %>
      <i class="fas fa-thumbs-up"></i><%= post_image.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_image_favorites_path(post_image), method: :post, remote: true do %>
      <i class="fas fa-thumbs-up"></i><%= post_image.favorites.count %>
    <% end %>
  </p>
<% end %>