<main>
  <h1>熊本あそび録</h1>
  <div>
    <%= link_to 'ログイン', new_end_user_session_path, class: "btn btn-primary" %>
    <%= link_to '新規登録', new_end_user_registration_path, class: "btn btn-success" %>
  </div>
</main>