<div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ジャンル検索
  </button>
  <div class="dropdown-menu">
    <% genres.each do |genre| %>
      <p class="text-dark">
        <%= link_to genre_path(genre.id) do %>
          <%= genre.name %><br>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
