<div class="genre">
  <div class="genre-search">ジャンル検索</div>
  <p class="genre-text">
    <% genres.each do |genre| %>
      <%= link_to genre_path(genre.id) do %>
        <%= genre.name %><br>
      <% end %>
    <% end %>
  </p>
</div>