<div class="genre">
  <h3 class="genre-search">
    <strong>ジャンル一覧</strong>
  </h3>
  <ul class="genere-text ml-5">
    <% genres.each do |genre| %>
      <li><%= genre.name %></li>
    <% end %>
  </ul>
</div>