<div class="genre">
  <h3 class="genre-search">
    <strong>ジャンル一覧</strong>
  </h3>
  <ul class="genre-text-list">
    <% genres.each do |genre| %>
      <li class="genere-text">
          <%= genre.name %>
      </li>
    <% end %>
  </ul>
</div>